* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 6px;
}

.nav-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav li{
    text-decoration: none;
    padding: 12px;
}

.nav li a {
    text-decoration: none;
    color: #222;
    font-size: 13px;
}

.link-hover:hover {
    opacity: .85;
    text-decoration: underline;
}

#app-logo {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: 5px
}

#app-logo:hover {
    background-color: rgba(95,99,104,0.24);
}

#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 36px;
    background-color: #2b7de9;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.25x;
    font-weight: bolder;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    width: 584px;
}

#search-form {
    padding-top: 22px;

}

.search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.search-wrapper:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba (223,225,229,0)
}

.search-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar {
    width: 584px;
    height: 46px;
    border: transparent;
    margin-left: 10px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

#search-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: #9AA0A6;
}

input:focus {
    outline: none;
}

.button-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.search, .feeling {
    padding: 0 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #202124;
    border-radius: 4px;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.button-hover:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 14px;
}

.footer ul, p{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


.footer ul li a, .footer p a{
    text-decoration: none;
    color:#222;
    font-size: 13px;
}

.left-footer {
    display: flex;
    width: 100%;
}

.left-footer li {
    padding-left: 20px;
}

.center-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#leaf {
    width: 10px;
    height: 10px;
}

.right-footer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.right-footer li {
    padding-right: 20px;
}